<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="Ancienneté_an">
            <config key="0-6_0">
                <entry key="bin_name" type="xstring" value="0-6"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="-Infinity"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="6.0"/>
            </config>
            <config key="7-13_1">
                <entry key="bin_name" type="xstring" value="7-13"/>
                <entry key="left_open" type="xboolean" value="false"/>
                <entry key="left_value" type="xdouble" value="6.0"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="14.0"/>
            </config>
            <config key="14-20_2">
                <entry key="bin_name" type="xstring" value="14-20"/>
                <entry key="left_open" type="xboolean" value="false"/>
                <entry key="left_value" type="xdouble" value="14.0"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="21.0"/>
            </config>
            <config key="21 et plus_3">
                <entry key="bin_name" type="xstring" value="21 et plus"/>
                <entry key="left_open" type="xboolean" value="false"/>
                <entry key="left_value" type="xdouble" value="21.0"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="Infinity"/>
            </config>
        </config>
        <entry key="Ancienneté_an_is_appended" type="xstring" value="Tranche_ancienneté"/>
        <config key="binned_columns">
            <entry key="array-size" type="xint" value="1"/>
            <entry key="0" type="xstring" value="Ancienneté_an"/>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="tranche d'ancienneté"/>
        <entry key="contentType" type="xstring" value="text/plain"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="0"/>
        <entry key="y-coordinate" type="xint" value="0"/>
        <entry key="width" type="xint" value="0"/>
        <entry key="height" type="xint" value="0"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="0"/>
        <entry key="defFontSize" type="xint" value="-1"/>
        <entry key="annotation-version" type="xint" value="20230412"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.binner.BinnerNodeFactory"/>
    <entry key="node-name" type="xstring" value="Numeric Binner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.3.v202410291553"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.3.v202410301420"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Numeric Binner"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 256, Cols: 13"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="1b95e06b-8b4b-436a-b805-29835e5fa16b"/>
    </config>
</config>
